<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="listeners.CustomListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/admin/IdeaProjects/TestNGSample/src/test/java/listeners/ListenersTests.java">
        <classes>
            <class name="listeners.ListenersTests">

            </class>
        </classes>
    </test>
</suite>